@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-accent-orange: #FFF0E6;
  --color-accent-blue: #E6F0FF;
  --color-accent-green: #E6FFF0;
  --color-accent-red: #FFF0F0;
  --color-background-dark: #050505;
  --color-background-soft: #F9F9FB;

  --font-display: var(--font-manrope), sans-serif;

  --letter-spacing-tighter: -0.04em;
  --letter-spacing-tight: -0.02em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.02em;
  --letter-spacing-wider: 0.05em;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
