@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent-orange: #fff6ed;
  --accent-blue: #f0f7ff;
  --accent-green: #f0fdf4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-orange: var(--accent-orange);
  --color-accent-blue: var(--accent-blue);
  --color-accent-green: var(--accent-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
